*{
  margin:0;
  padding:0;

  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

body{
  background-color: #F4A7B9;
}

img{
  display: block;
  height: 30%;
  width: 30%;
  margin: 0 auto;
}

audio{
  display: block;
  margin: 0 auto;
}